main.pdf
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.lof
*.lot
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.glsdefs
*.run.xml
*.bcf
*.run.xml
*.fdb_latexmk
*.synctex
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR

**/.DS_Store